{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <p class="text-center"><img src="{% static 'tom_common/img/logo-color.png' %}" class="img-fluid mx-auto w-50"></p>

    <h3>For more information visit <a href="https://rges-pit.github.io">the RGES-PIT website</a></h3>
     <hr>
    <p><em><a target="_blank" href="https://github.com/TOMToolkit/tom_base">TOM Toolkit</a> version {{ version }}</em></p>
  </div>
</div>
{% endblock %}
