{% extends 'tom_common/base.html' %}
{% load comments django_bootstrap5 tom_common_extras targets_extras observation_extras dataproduct_extras static cache plotting_functions view_layouts %}

{% block title %}Event {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% if object.type == 'SIDEREAL' %}
<link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css">
{% endif %}
{% endblock %}
{% block content %}

{% event_banner_data object %}

<div class="row">
  <div class="col-sm-2">
    {% event_model_buttons object %}
  </div>
  <div class="col-lg">
    <div class="row">
      <div class="col-lg dashboard-panel">
        <div class="event-table-container">
          <table class="event-table">
              <thead>
              <tr>
                <th>Start time [JD]</th>
                <th>Duration [d]</th>
                <th>Coverage fraction</th>
                <th>Symmetry</th>
                <th>Time to second peak [d]</th>
                <th>Second peak mag</th>
                <th>N points above 3&sigma;</th>
              </tr>
              </thead>
            <tbody>
            <tr>
              <td>{{event.start_time|floatformat:3}}</td>
              <td>{{event.duration|floatformat:5}}</td>
              <td>{{event.coverage_fraction|floatformat:2}}</td>
              <td>{{event.symmetry|floatformat:2}}</td>
              <td>{{event.time_to_second_peak|floatformat:2}}</td>
              <td>{{event.second_peak_mag|floatformat:2}}</td>
              <td>{{event.Npoint_above_3sigma|floatformat:2}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="event-table-container">
          <table class="event-table">
            <thead>
            <tr>
              <th>Nearest moving object</th>
              <th>Separation moving object [arcsec]</th>
              <th>N linked events</th>
              <th>Max peak periodogram</th>
              <th>Period [d]</th>
              <th>DIA centroid shift</th>
              <th>PSF centroid shift</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{event.nearest_moving_object}}</td>
              <td>{{event.angular_separation_moving_object|floatformat:2}}</td>
              <td>{{event.Nlinked_events}}</td>
              <td>{{event.max_peak_periodogram|floatformat:2}}</td>
              <td>{{event.period|floatformat:3}}</td>
              <td>{{event.DIA_centroid_shift|floatformat:3}}</td>
              <td>{{event.PSF_centroid_shift|floatformat:3}}</td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="event-table-container">
            <table class="event-table">
            <thead>
            <tr>
              <th>&Delta; &chi;<sup>2</sup> PSPL</th>
              <th>&Delta; BIC<sup>2</sup> PSPL</th>
              <th>&Delta; &chi;<sup>2</sup> FSPL</th>
              <th>&Delta; BIC<sup>2</sup> FSPL</th>
              <th>&Delta; &chi;<sup>2</sup> PSPL best flare</th>
              <th>&Delta; &chi;<sup>2</sup> FSPL best flare</th>
            </tr>
            </thead>
              <tbody>
              <tr>
                <td>{{event.delta_chi2_PSPL|floatformat:3}}</td>
                <td>{{event.delta_BIC_PSPL|floatformat:3}}</td>
                <td>{{event.delta_chi2_FSPL|floatformat:3}}</td>
                <td>{{event.delta_BIC_FSPL|floatformat:3}}</td>
                <td>{{event.delta_chi2_PSPL_bestflare|floatformat:3}}</td>
                <td>{{event.delta_BIC_PSPL_bestflare|floatformat:3}}</td>
              </tr>
              </tbody>
          </table>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md dashboard-panel">
          <div class="htmx-indicator text-center my-4" id="event-model-parameters-progress">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2">Loading model parameters&hellip;</p>
          </div>
          <div id="event-model-parameters-container" class="mt-3">
            <p>Click a model type to see its fit parameters.</p>
          </div>
        </div>

        <div class="col-md dashboard-panel">
          {% photometry_event event %}
        </div>
      </div>
    </div>
</div>

{% endblock %}