{% extends 'tom_common/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Target Models{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <span class="float-end">
        {{ model_count }} Target Model{{ model_count|pluralize }} &nbsp;
        <a href="{% url 'targetmodels:create' %}" class="btn btn-primary" title="Create a Target Model">Create Target Model</a>
      </span>
      </div>
    </div>

    {% block targetmodel_table_content %}
    <hr>
    {# Search form (we refer to this id="filter-form" in the TargetModelTable.Meta.attrs) #}
    <form id="filter-form" class="mb-3"
      hx-get="{% url 'targetmodels:list' %}"
      hx-target="div.table-container"
      hx-swap="outerHTML"
      hx-indicator=".progress">
        {% crispy filter.form %}
    </form>

    {# Progress indicator #}
    <div class="progress">
        <div class="indeterminate"></div>
    </div>

    {# The actual table #}
    <div class="table-container">
        {% include "custom_code/partials/targetmodel_table_partial.html" %}
    </div>

    <hr>
      {% endblock targetmodel_table_content %}
  </div>
</div>
{% endblock content %}
