{% if parameters %}
{{ model_type }} model parameters
<table class="table table-sm table-striped">
    <tbody>
        {% for label, value in parameters %}
            {% if label == 'blend parameters' %}
            <tr>
                <th>{{ label }}</th>
                <td>
                    {% for key, data in value.items %}
                        {{ key }} : {{ data }} <br/>
                    {% endfor %}
                </td>
            </tr>
            {% else %}
            <tr>
                <th>{{ label }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    No fit parameters are available for model type "{{ model_type }}".
</div>
{% endif %}
