{% load static tom_common_extras targets_extras %}
<div class="row source-banner">
  <div class="col-sm-3">
    {% for name in target.names %}
      {% if forloop.first %}
        <h3 style="color: var(--rges-purple-light)">{{ name }}</h3>
      {% else %}
        <h5>{{ name }}</h5>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-sm-3">
      RA: {{ target.ra|deg_to_sexigesimal:"hms" }} = {{ target.ra|floatformat:5 }}&deg;<br/>
      Dec: {{ target.dec|deg_to_sexigesimal:"dms" }} = {{ target.dec|floatformat:5 }}&deg;<br/>
      l: {{ target.galactic_lng|floatformat:4 }}&deg; b: {{ target.galactic_lat|floatformat:4 }}&deg;<br/>
      Baseline: {{ baseline_magnitude|floatformat:3 }} &plusmn; {{ baseline_mag_error|floatformat:3 }} mag ({{ baseline_mag_passband }})<br/>
      {% if max_peak_periodogram %}
        Max peak periodogram: {{max_peak_periodogram|floatformat:2}}<br/>
      {% else %}
        Max peak periodogram: - <br/>
      {% endif %}
      {% if period %}
        Period: {{period|floatformat:3}} days<br/>
      {% else %}
        Period: - <br/>
      {% endif %}
  </div>
  <div class="col-sm-3">
    <h5>{{ classification }}</h5>
  </div>
    <div class="col-sm-3">
    {% if nearest_flare_star|length > 0 %}
        <h6 style="color: var(--warning)">
        Nearby known flare star: {{ nearest_flare_star }}<br/>
        Separation: {{ flare_separation_arcsec|floatformat:4 }} arcsec
        {% else %}
        <h6 style="color: var(--warning)">No known flare star nearby</h6>
        </h6>
    {% endif %}
    {% if nearest_variable_star|length > 0 %}
        <h6 style="color: var(--warning)">
        Nearby known variable star: {{ nearest_variable_star }}<br/>
        Separation: {{ variable_separation_arcsec|floatformat:4 }} arcsec<br/>
        Type: {{ nearest_variable_type }}
        </h6>
        {% else %}
        <h6 style="color: var(--warning)">No known variable star nearby</h6>
    {% endif %}
  </div>
</div>